.list-container {
    margin-top: 25px;
}

.list-item {
    margin-top: 10px;
    color: white;
    transition: background-color 1s;
}

.list-item h4 {
    padding-left: 25px;
    padding-bottom: 5px;
}

.list-item:hover {
    background-color: dodgerblue !important;
}

.complete-item {
    float: right;
    right: 20px;
}

input#newItem:active {
    border-bottom: 1px solid dodgerblue !important;
}

.modalButton {
    margin: 6px 6px !important;
}

.user-indicator {
    float: right;
    margin-right: 2em;
    line-height: 2;
}
