.list-container {
    margin-top: 25px;
}

.list-item {
    margin-top: 10px;
    color: white;
    transition: background-color 1s;
}

.list-item h4 {
    padding-left: 25px;
    padding-bottom: 5px;
}

.list-item:hover {
    background-color: dodgerblue !important;
}

.complete-item {
    float: right;
    right: 20px;
}

input#newItem:active {
    border-bottom: 1px solid dodgerblue !important;
}

.modalButton {
    margin: 6px 6px !important;
}

.user-indicator {
    float: right;
    margin-right: 2em;
    line-height: 2;
}

.modal {
    display: block;
}

.welcome-modal {
    margin-top: 10em;
    width: 30%;
}

.add-item-modal {
    z-index: 2;
}

.footer {
    position: fixed;
    left: 20px;
    bottom: 10px;
    padding-top: 15px;
    margin-bottom: 0;
    z-index: 997;
    font-size: 0.6em;
}
